/* primary colors */
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

/* neutral colors */
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

/* body font */
$font-size-body: 15px;

/* font */
$font-family-spartan: 'Spartan', sans-serif; 
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-size: $font-size-body;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

@mixin mobile {
    @media screen and (max-width: 1024px) {
        @content
    }
    
}