/* primary colors */
/* neutral colors */
/* body font */
/* font */
html, body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  background: url(./images/bg-pattern-top-desktop.svg) no-repeat top, url(./images/bg-pattern-bottom-desktop.svg) no-repeat bottom;
}

@media screen and (max-width: 1024px) {
  body {
    background: url(./images/bg-pattern-top-mobile.svg) no-repeat top, url(./images/bg-pattern-bottom-mobile.svg) no-repeat bottom;
  }
}
main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
}

#social-proof-section {
  display: grid;
  grid-template-areas: "head ratings" "details ratings" "comments comments";
  grid-template-columns: minmax(20rem, 36.7rem) minmax(32.7rem, 36rem);
  grid-template-rows: repeat(3, auto);
  height: max-content;
  width: max-content;
  align-self: center;
  padding: 5rem;
  font-family: "Spartan", sans-serif;
  color: #502050;
}
#social-proof-section > h1 {
  grid-area: head;
  max-width: 400px;
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: -0.05em;
  font-size: 3.45em;
  font-weight: 700;
  align-self: flex-end;
  line-height: 1;
}
#social-proof-section > p {
  grid-area: details;
  font-size: 1em;
  max-width: 460px;
  line-height: 1.7;
  color: #937b92;
}

@media screen and (max-width: 1024px) {
  #social-proof-section {
    margin-top: 3rem;
    grid-template-areas: "head" "details" "ratings" "ratings" "comments" "comments" "comments";
    grid-template-columns: auto;
    padding: 2rem;
    max-width: 540px;
    min-width: 360px;
  }
  #social-proof-section > h1, #social-proof-section > p {
    align-self: center;
    text-align: center;
    justify-self: center;
  }
  #social-proof-section > h1 {
    font-size: 2.5em;
  }
  #social-proof-section > p {
    font-size: 0.9em;
  }
  #social-proof-section > ul {
    width: 100%;
    max-width: none;
  }
}
#rating-list {
  padding-inline-start: 0;
  grid-area: ratings;
  list-style: none;
  margin-block-start: 0;
  max-width: max-content;
  margin-top: 1rem;
  justify-self: flex-end;
}
@media screen and (max-width: 1024px) {
  #rating-list {
    justify-self: center;
  }
}
#rating-list > li {
  margin-bottom: 1.2rem;
  padding: 1.2rem 1.5rem;
  padding-right: 4rem;
  background-color: #f7f2f7;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 0.9em;
  display: flex;
  align-content: center;
}
@media screen and (min-width: 1024px) {
  #rating-list > li:nth-child(1) {
    margin-left: 0rem;
  }
  #rating-list > li:nth-child(3) {
    margin-right: 0rem;
  }
  #rating-list > li:nth-child(2) {
    margin-left: 3rem;
  }
  #rating-list > li:nth-child(2) {
    margin-right: 3rem;
  }
  #rating-list > li:nth-child(3) {
    margin-left: 6rem;
  }
  #rating-list > li:nth-child(1) {
    margin-right: 6rem;
  }
}
@media screen and (max-width: 1024px) {
  #rating-list > li {
    flex-direction: column;
    padding: 1rem 1.2rem;
    row-gap: 0.7rem;
    margin-bottom: 1rem;
  }
}
#rating-list > li > .stars {
  margin-right: 1rem;
}
#rating-list > li > .stars > * {
  margin: 0 0.2em;
}
#rating-list > li > span {
  display: flex;
  align-self: center;
  justify-content: center;
  align-content: center;
}

#comment-list {
  grid-area: comments;
  padding-inline-start: 0;
  display: flex;
  list-style: none;
  align-self: center;
  justify-self: center;
  justify-content: space-between;
  margin-top: 3.8rem;
  color: white;
}
@media screen and (max-width: 1024px) {
  #comment-list {
    flex-direction: column;
    margin-top: 0;
    row-gap: 1rem;
  }
}
#comment-list > li {
  display: block;
  flex: 0 0 31.5%;
}
@media screen and (min-width: 1024px) {
  #comment-list > li:nth-child(2) {
    margin-top: 1rem;
  }
  #comment-list > li:nth-child(3) {
    margin-bottom: 1rem;
  }
  #comment-list > li:nth-child(3) {
    margin-top: 2rem;
  }
  #comment-list > li:nth-child(2) {
    margin-bottom: 2rem;
  }
  #comment-list > li:nth-child(4) {
    margin-top: 3rem;
  }
  #comment-list > li:nth-child(1) {
    margin-bottom: 3rem;
  }
}
#comment-list .card {
  padding: 1.5em 0.5em 1.5em 0.5em;
  display: grid;
  grid-template-areas: "pic head1" "pic head2" "quote quote";
  border-radius: 0.5em;
  height: 100%;
  grid-template-columns: 25% 75%;
  background-color: #502050;
}
@media screen and (max-width: 1024px) {
  #comment-list .card {
    padding: 1em 0.5em;
  }
}
#comment-list .card > h2, #comment-list .card > h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 0.9em;
}
@media screen and (max-width: 1024px) {
  #comment-list .card > h2, #comment-list .card > h3 {
    font-size: 0.88em;
  }
}
#comment-list .card > h2 {
  grid-area: head1;
  font-weight: 700;
  align-self: flex-end;
  margin-block-end: 0.25em;
}
#comment-list .card > h3 {
  font-weight: 500;
  grid-area: head2;
  align-self: flex-start;
  color: #ee68a4;
}
#comment-list .card > img {
  grid-area: pic;
  border-radius: 50%;
  transform: scale(0.5);
  justify-self: flex-end;
}
#comment-list .card > blockquote {
  grid-area: quote;
  margin-block-start: 0em;
  margin-block-end: 0;
  margin-inline-start: 1.5rem;
  margin-inline-end: 1.4rem;
  line-height: 1.7;
  font-size: 0.9em;
  color: #f7f2f7;
}
@media screen and (max-width: 1024px) {
  #comment-list .card > blockquote {
    font-size: 0.8em;
  }
  #comment-list .card > blockquote > p {
    margin-block-start: 0;
  }
}

/*# sourceMappingURL=style.css.map */
